<div id="<%= dom_id wallet %>">
  <p>
    <strong>Name:</strong>
    <%= wallet.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= wallet.amount %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= Provider.find(wallet.provider_id).name %>
  </p>

  <p>
    <strong>Sender token:</strong>
    <%= wallet.sender_token %>
  </p>

  <p>
    <strong>Recipient token:</strong>
    <%= wallet.recipient_token %>
  </p>

  <p>
    <strong>Checkout url:</strong>
    <%= wallet.checkout_url %>
  </p>

</div>
