<div id="<%= dom_id checkout %>">
  <p>
    <strong>Amount:</strong>
    <%= checkout.amount %>
  </p>

  <p>
    <strong>Sender token:</strong>
    <%= checkout.sender_token %>
  </p>

  <p>
    <strong>Recipient token:</strong>
    <%= checkout.recipient_token %>
  </p>

  <p>
    <strong>Identity:</strong>
    <%= checkout.identity %>
  </p>

  <p>
    <strong>Redirect uri:</strong>
    <%= checkout.redirect_uri %>
  </p>

</div>
