<p style="color: green"><%= notice %></p>

<%= render @checkout %>

<%= link_to "Approve checkout", 'https://kiraiku.github.io/Adanian-Hackerthon/' %>

<div>
  <%= link_to "Edit this checkout", edit_checkout_path(@checkout) %> |
  <%= link_to "Back to checkouts", checkouts_path %>

  <%= button_to "Destroy this checkout", @checkout, method: :delete %>
</div>
